In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('./ETT/ETTh1.csv')

In [6]:
df[df.columns[1:]].head()

    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [15]:
ot = df[['OT']]

In [13]:
scaler = StandardScaler()

In [16]:
scaler.fit(ot)

StandardScaler()

In [21]:
data = df.values

In [22]:
data[1]

array(['2016-07-01 01:00:00', 5.692999839782715, 2.075999975204468,
       1.4919999837875366, 0.4259999990463257, 4.142000198364259,
       1.371000051498413, 27.78700065612793], dtype=object)

In [33]:
df_stamp = df[['date']]
df_stamp['date'] = pd.to_datetime(df_stamp.date)

<ipython-input-33-934175b36dcf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stamp['date'] = pd.to_datetime(df_stamp.date)

In [34]:
df_stamp

                     date
0     2016-07-01 00:00:00
1     2016-07-01 01:00:00
2     2016-07-01 02:00:00
3     2016-07-01 03:00:00
4     2016-07-01 04:00:00
...                   ...
17415 2018-06-26 15:00:00
17416 2018-06-26 16:00:00
17417 2018-06-26 17:00:00
17418 2018-06-26 18:00:00
17419 2018-06-26 19:00:00

[17420 rows x 1 columns]

In [35]:
df_stamp['month'] = df_stamp.date.apply(lambda row: row.month, 1)

<ipython-input-35-d40135f75a2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stamp['month'] = df_stamp.date.apply(lambda row: row.month, 1)

In [36]:
df_stamp

                     date  month
0     2016-07-01 00:00:00      7
1     2016-07-01 01:00:00      7
2     2016-07-01 02:00:00      7
3     2016-07-01 03:00:00      7
4     2016-07-01 04:00:00      7
...                   ...    ...
17415 2018-06-26 15:00:00      6
17416 2018-06-26 16:00:00      6
17417 2018-06-26 17:00:00      6
17418 2018-06-26 18:00:00      6
17419 2018-06-26 19:00:00      6

[17420 rows x 2 columns]

In [37]:
data_stamp = df_stamp.drop(['date'], 1).values

In [38]:
data_stamp

array([[7],
       [7],
       [7],
       ...,
       [6],
       [6],
       [6]])

In [43]:
train = df[df.columns[1:]][:5]
train

    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [51]:
scaler.fit(train)
scaler.transform(df[df.columns[1:]])[:6]

array([[ 1.38379743,  0.59761468,  1.33506952,  1.03039541,  1.37238545,
         0.79900329,  1.34434222],
       [ 0.92253075,  1.19522831,  0.49869684,  0.16370755,  1.02872649,
         1.38043811,  0.40128194],
       [-0.92253108, -1.79284299, -1.1662316 , -1.54559312, -1.02759928,
        -1.48922234,  0.40128194],
       [-1.1531636 ,  0.        , -1.1662316 , -0.67890525, -0.85858648,
        -0.34510953, -0.54143486],
       [-0.23063351,  0.        ,  0.49869684,  1.03039541, -0.51492618,
        -0.34510953, -1.60547124],
       [ 0.69189822,  1.79284193,  0.78009338,  2.73969536,  0.51605339,
         1.38043811, -1.87148033]])

In [48]:
train.mean(), train.var()

(HUFL     5.4250
 HULL     1.9420
 MUFL     1.4282
 MULL     0.4192
 LUFL     3.9594
 LULL     1.2974
 OT      26.6194
 dtype: float64,
 HUFL     0.105491
 HULL     0.015711
 MUFL     0.020459
 MULL     0.002157
 LUFL     0.039383
 LULL     0.003553
 OT      10.582765
 dtype: float64)

In [54]:
raw = df[df.columns[1:]].iloc[5, :]

In [55]:
raw

HUFL     5.626
HULL     2.143
MUFL     1.528
MULL     0.533
LUFL     4.051
LULL     1.371
OT      21.174
Name: 5, dtype: float64

In [57]:
new = scaler.transform(df[df.columns[1:]])

In [59]:
new[5, :]

array([ 0.69189822,  1.79284193,  0.78009338,  2.73969536,  0.51605339,
        1.38043811, -1.87148033])

In [62]:
import numpy as np

In [63]:
(5.26 - 5.4250) / np.sqrt(0.105491)

-0.5080146535744721

In [69]:
df_stamp['month'] = df_stamp.date.apply(lambda row: row.month)

<ipython-input-69-7a64ddb29727>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stamp['month'] = df_stamp.date.apply(lambda row: row.month)

In [70]:
df_stamp

                     date  month
0     2016-07-01 00:00:00      7
1     2016-07-01 01:00:00      7
2     2016-07-01 02:00:00      7
3     2016-07-01 03:00:00      7
4     2016-07-01 04:00:00      7
...                   ...    ...
17415 2018-06-26 15:00:00      6
17416 2018-06-26 16:00:00      6
17417 2018-06-26 17:00:00      6
17418 2018-06-26 18:00:00      6
17419 2018-06-26 19:00:00      6

[17420 rows x 2 columns]